@use "../../styles/mixin";
@use "../../styles/variables";

.page {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    flex-direction: column;
    background-color: variables.$bg-second;
    height: 100vh;
}

.paragraph {
    margin: 2rem;
    width: 60vw;
    text-align: center;
}