@use "../../styles/mixin";
@use "../../styles/variables";

.page {
    padding: 0.5rem 0;
    min-height: 100vh;
    @include mixin.flex-center;
    flex-direction: column;
    background-color: variables.$bg-second;
}

.list-results {
    @include mixin.flex-center;
}

.results {
    @include mixin.flex-center;
    background-color: variables.$bg;
    padding: 3rem;
    box-shadow: variables.$elevation;
    border-radius: 0.5rem;
    margin: 1rem;
    width: 85%;
}

.see-also {
    background-color: variables.$bg;
    @include mixin.flex-center;
    flex-direction: column;
    margin: 0 2rem;
    width: 60%;
    border-radius: 1rem;
    box-shadow: variables.$elevation-soft;
}


