@use "../styles/mixin";
@use "../styles/variables";

.wrapper-search {
    @include mixin.flex-center;
    flex-direction: column;
    gap: 0.5rem;   
}

.search-bar {
    width: 40vw;
    font-size: 1.3rem;
    padding: 0.4rem;
    border-radius: 25px;
    outline: none;
    border: 2px solid black;
}

.search-bar:focus {
    box-shadow: 3px 4px 15px -7px variables.$blue-yonder;
}

.btn-search {
    @include mixin.button;
    background-color: variables.$blue-yonder;
    color: white;
}

.btn-search:hover {
    background-color: darken(variables.$blue-yonder, 5%);
}