$saffron: #E1BC29;
$coquelicot: #F34213;
$blue-yonder: #607196;
$black: #000505;
$pale-spring-bud: #EDF7B5;

$bg: white;
$bg-second: #f5f5f5;

$elevation: 0px 3px 5px -1px $blue-yonder;
$elevation-soft: 0px 3px 3px -2px $blue-yonder;
