@use "./variables";
@use "./mixin";

.page {
  height: 100vh;
  background-color: variables.$bg-second;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 2rem;
  background-color: variables.$bg;
  box-shadow: variables.$elevation;
  border-radius: 0.4rem;
  margin: 2rem;
}

.navbar {
  display: flex;
  gap: 0.5rem;
}

.navbar-btn {
  @include mixin.button;
}

.navbar-btn:hover {
  background-color: variables.$blue-yonder;
  color: white;
  transition: linear 150ms;
}

.btn-active {
  background-color: variables.$blue-yonder;
  color: white;
}

.content {
  padding: 0.5rem 5rem;
}

.title {
  margin: 1rem 0;
}

.paragraph {
  margin: 0.3rem 0;
}

.list-el {
  margin: 0.1rem 2rem;
}